{% extends 'base.html.twig' %}

{% block title %}Hello ShortUrlsController!{% endblock %}

{% block body %}
    <h1>Acorta la url</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
